<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="icon" type="image/png" sizes="128x128" href="{{ '/favicon.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/DMF-Logo.png' | relative_url }}">
<meta name="theme-color" content="#1616B4">
<link rel="preload" href="{{ '/assets/fonts/Inter-Regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/Inter-SemiBold.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
